<!DOCTYPE html>
<html>
<head>
	<title></title>

	<style type="text/css">
	.container-msjs{
		height: 200px;
		width: 420px;
		overflow-y: scroll;
		background: orange;
	}
	</style>

	<script src="socket.io/socket.io.js"></script>
	<script src="/static/chat.js"></script>
	<script>
		var socket = io();
	</script>
	 	
	<script>
		socket.emit('suscribe', 'roomOne');

		var sendMsj = function(){
			var form = form = document.getElementById('form-chat');
			var msjToSend = form['msj-to-send'].value;
			form['msj-to-send'].value = '';
			
			socket.emit('sendMessage', {'room': 'roomOne', msj: msjToSend});	

		} 

		var desuscribir = function(room){
			socket.emit('unsuscribe',room);
		}

		socket.on('sendMessageToFront', function(msj){
			document.getElementById('container-msjs').innerHTML += '<li>' + msj + '</li>';
		});


		socket.on('renderOldMessages', function(messages){
			document.getElementById('container-msjs').innerHTML = "";
			messages.forEach(function(message){
				document.getElementById('container-msjs').innerHTML += '<li> ' + message.content + '</li>';
			})
		})



		
	</script>
	
</head>
<body>
<ul id="container-msjs" class="container-msjs">
	

</ul>

<form method="post" action="" name="form-chat" id="form-chat" onsubmit="sendMsj(); return false;">
	<div>
		<textarea id="msj-to-send" name="msj-to-send" placeholder="Ingrese su mensaje y presione enviar" rows="10" cols="50"></textarea>
	</div>
	
	<div>	
		<button>Enviar</button>
	</div>
</form>

<!--<button onclick="desuscribir('roomOne');">Desuscribirse de la roomOne</button>-->
</body>
</html>
